.slider {
    position: relative;
    overflow: hidden;
    height: 580px; /* Sesuaikan tinggi slider */
}
.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan gambar mengisi area */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Efek transisi */
}
.slider img.active {
    opacity: 1;
}
.school-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Warna teks */
    font-size: 2rem; /* Ukuran teks */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Bayangan teks */
}
